<!doctype html>
<html>

<head>
  <title>
    <%= json.project.title %>
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Safari, you're the worst -->
  <meta name='format-detection' content='telephone=no'>
  <link rel="stylesheet" type="text/css" href="style.css">
  <%= t.include("partials/_head.html") %>
</head>

<body>

  <responsive-child class="map-container">
    <div class="outmost">
      <section class="chatter">
        <h1>Lead in Seattle Public Schools</h1>
        <p>Washington state lawmakers soon may move to set a stricter limit for lead in drinking water at public schools. The proposed legislation would require parent notification at 89 of 99 facilities in the Seattle school district where lead levels topped 1 part per billion.</p>
      </section>

      <div class="legend">
          <h1>Are any water sources at this school above the lead limit?</h1>
          <ul class="scale">
            <li>
              <span class="block" style="background-color: #f46d43"></span> Yes</li>
            <li>
              <span class="block" style="background-color: #abd9e9"></span> No</li>
<!--             <li>
              <span class="block" style="background-color: #f46d43"></span> 4 - 6</li>
            <li>
              <span class="block" style="background-color: #d73027"></span> 7 or more</li> -->
          </ul>
        </div>

      <div class="aspect-ratio-outer">
<!--         <h2>Chicago pilot lead limit (2 ppb)</h2> -->
        <p>89 of 99 facilities found with at least one water source with lead above 2 ppb</p>
        <div class="aspect-ratio-inner">
          <leaflet-map zoom=11>
            <tile-layer layer="cartoPositron"></tile-layer>
          </leaflet-map>

        </div>

      <div class="source">Data is from early 2018 and may have changed since.<br>Source: Seattle Public Schools
        <span class="credit">Emily M. Eng / THE SEATTLE TIMES</div>
    </div>

  </responsive-child>

  <script src="app.js"></script>
  <% /*= t.include("partials/_foot.html"); */ %>
    <%= t.include("partials/_workHere.html") %>
</body>

</html>
